<app-auth-header
  [title]="'Sign Up'"
  [showBack]="true"
  (back)="goBack()"
></app-auth-header>

<ion-content color="secondaryColor">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="margin20">
      <ion-text class="grayColor16Regular"> Name</ion-text>
      <ion-input
        formControlName="name"
        name="name"
        placeholder="Enter Name"
        mode="ios"
        class="whiteColor18Regular auth-form__input"
        autocomplete="name"
      ></ion-input>
      <div class="auth-form__divider"></div>
      @if (isInvalid('name')) {
      <ion-text class="redColor14SemiBold">
        Please enter a valid name
      </ion-text>
      }
    </div>

    <div class="margin20 auth-form__field">
      <ion-text class="grayColor16Regular"> Username </ion-text>
      <ion-input
        formControlName="username"
        name="username"
        placeholder="Enter Username"
        mode="ios"
        class="whiteColor18Regular auth-form__input"
        autocomplete="username"
      ></ion-input>
      <div class="auth-form__divider"></div>
      @if (isInvalid('username')) {
      <ion-text class="redColor14SemiBold">
        Please enter a valid username
      </ion-text>
      } @if (form.controls.username.hasError('serverError') &&
      (form.controls.username.touched || form.controls.username.dirty)) {
      <ion-text class="redColor14SemiBold">
        {{ form.controls.username.getError('serverError') }}
      </ion-text>
      }
    </div>

    <div class="margin20 auth-form__field">
      <ion-text class="grayColor16Regular"> Date of Birth </ion-text>
      <ion-input
        formControlName="birthDate"
        name="birthDate"
        placeholder="YYYY-MM-DD"
        mode="ios"
        class="whiteColor18Regular auth-form__input"
        type="date"
      ></ion-input>
      <div class="auth-form__divider"></div>
      @if (isInvalid('birthDate') &&
      !form.controls.birthDate.hasError('serverError')) {
      <ion-text class="redColor14SemiBold">
        @if (form.controls.birthDate.hasError('underAge')) { You must be at
        least 13 years old to register } @else { Please enter a valid birth date
        }
      </ion-text>
      } @if (form.controls.birthDate.hasError('serverError') &&
      (form.controls.birthDate.touched || form.controls.birthDate.dirty)) {
      <ion-text class="redColor14SemiBold">
        {{ form.controls.birthDate.getError('serverError') }}
      </ion-text>
      }
    </div>

    <div class="margin20 auth-form__field">
      <ion-text class="grayColor16Regular"> Email Address </ion-text>
      <ion-input
        formControlName="email"
        name="email"
        placeholder="Enter Email Address"
        mode="ios"
        class="whiteColor18Regular auth-form__input"
        inputmode="email"
        autocomplete="email"
      ></ion-input>
      <div class="auth-form__divider"></div>
      @if (isInvalid('email')) {
      <ion-text class="redColor14SemiBold">
        Please enter a valid email
      </ion-text>
      } @if (form.controls.email.hasError('serverError') &&
      (form.controls.email.touched || form.controls.email.dirty)) {
      <ion-text class="redColor14SemiBold">
        {{ form.controls.email.getError('serverError') }}
      </ion-text>
      }
    </div>

    <div class="margin20 auth-form__field">
      <ion-text class="grayColor16Regular"> Create Password </ion-text>
      <div class="rowAlignCenter">
        <ion-input
          formControlName="password"
          name="password"
          placeholder="Enter Create Password"
          mode="ios"
          class="whiteColor18Regular auth-form__input auth-form__input--password"
          clearOnEdit="false"
          inputmode="password"
          autocomplete="new-password"
          [type]="showPassword()?'text':'password'"
        ></ion-input>
        <ion-icon
          (click)="showPassword.set(!showPassword())"
          [name]="!showPassword()?'eye-off-outline': 'eye-outline'"
          color="whiteColor"
          class="auth-form__toggle-icon"
        ></ion-icon>
      </div>

      <div class="auth-form__divider"></div>
      @if (isInvalid('password')) {
      <ion-text class="redColor14SemiBold">
        Password must be at least 8 characters and include 1 number and 1
        special character
      </ion-text>
      }
    </div>

    <div class="margin20 auth-form__field">
      <ion-text class="grayColor16Regular"> Confirm Password </ion-text>
      <div class="rowAlignCenter">
        <ion-input
          formControlName="confirmPassword"
          name="confirmPassword"
          placeholder="Enter Confirm Password"
          mode="ios"
          class="whiteColor18Regular auth-form__input auth-form__input--password"
          clearOnEdit="false"
          inputmode="password"
          autocomplete="new-password"
          [type]="showConfirmPwd()?'text':'password'"
        ></ion-input>
        <ion-icon
          (click)="showConfirmPwd.set(!showConfirmPwd())"
          [name]="!showConfirmPwd()?'eye-off-outline': 'eye-outline'"
          color="whiteColor"
          class="auth-form__toggle-icon"
        ></ion-icon>
      </div>

      <div class="auth-form__divider"></div>
      @if ((form.touched || form.dirty) && form.hasError('passwordsMismatch')) {
      <ion-text class="redColor14SemiBold"> Passwords do not match </ion-text>
      }
    </div>

    <app-auth-primary-button
      class="auth-form__submit"
      [label]="'Sign Up'"
      [disabled]="form.invalid || isSubmitting()"
      (clicked)="onSubmit()"
    ></app-auth-primary-button>
  </form>

  <ion-text class="grayColor16Regular center"> OR </ion-text>

  <app-auth-social-buttons></app-auth-social-buttons>

  <div class="ion-text-center margin20">
    <ion-text class="lightGrayColor16Regular">
      Already have an account?
      <ion-text (click)="goTo('/auth/sign-in')" class="primaryColor16Bold">
        Sign In
      </ion-text>
    </ion-text>
  </div>
</ion-content>
