<app-auth-header
  [title]="'Reset Password'"
  [showBack]="true"
  (back)="goBack()"
></app-auth-header>

<ion-content color="secondaryColor">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="margin20 auth-form__field">
      <ion-text class="grayColor16Regular"> New Password </ion-text>

      <div class="rowAlignCenter">
        <ion-input
          formControlName="newPassword"
          name="newPassword"
          placeholder="Enter New Password"
          mode="ios"
          class="whiteColor18Regular auth-form__input auth-form__input--password"
          inputmode="password"
          autocomplete="new-password"
          type="password"
          [type]="showNewPassword()?'text':'password'"
        ></ion-input>

        <ion-icon
          (click)="showNewPassword.set(!showNewPassword())"
          [name]="!showNewPassword()?'eye-off-outline': 'eye-outline'"
          color="whiteColor"
          class="auth-form__toggle-icon"
        ></ion-icon>
      </div>

      <div class="auth-form__divider"></div>
      @if (isInvalid('newPassword')) {
      <ion-text class="redColor14SemiBold">
        Password must be at least 8 characters and include 1 number and 1
        special character
      </ion-text>
      }
    </div>

    <div class="margin20 auth-form__field">
      <ion-text class="grayColor16Regular"> Confirm Password </ion-text>

      <div class="rowAlignCenter">
        <ion-input
          formControlName="confirmPassword"
          name="confirmPassword"
          placeholder="Confirm New Password"
          mode="ios"
          class="whiteColor18Regular auth-form__input"
          inputmode="password"
          autocomplete="new-password"
          type="password"
        ></ion-input>
        <ion-icon
          (click)="showConfirmPwd.set(!showConfirmPwd())"
          [name]="!showConfirmPwd()?'eye-off-outline': 'eye-outline'"
          color="whiteColor"
          class="auth-form__toggle-icon"
        ></ion-icon>
      </div>

      <div class="auth-form__divider"></div>

      @if ((form.touched || form.dirty) && form.hasError('passwordsMismatch')) {
      <ion-text class="redColor14SemiBold"> Passwords do not match </ion-text>
      }
    </div>

    <app-auth-primary-button
      class="auth-form__submit"
      [label]="'Change password'"
      [disabled]="form.invalid || isSubmitting()"
      (clicked)="onSubmit()"
    ></app-auth-primary-button>
  </form>
</ion-content>
