<ion-header mode="ios" [translucent]="false">
  <ion-toolbar
    class="ion-no-padding"
    color="whiteColor"
    style="box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15)"
  >
    <div
      class="rowAlignCenter"
      style="padding: 15px 20px; background-color: var(--whiteColor)"
    >
      <ion-icon
        (click)="goBack()"
        name="chevron-back"
        color="blackColor"
        style="font-size: 28px"
      ></ion-icon>
      <ion-text class="blackColor20SemiBold" style="margin-left: 10px">
        Link Accounts
      </ion-text>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="margin20">
    <div *ngFor="let item of linkedAccountsList">
      <div class="rowAlignCenter" style="margin-bottom: 15px">
        <ion-img
          [src]="item.socialMediaIcon"
          style="width: 20px; height: 20px; object-fit: contain"
        >
        </ion-img>
        <ion-text class="blackColor14SemiBold" style="margin: 0 13px">
          {{item.soialMedia}}
        </ion-text>
      </div>
    </div>
  </div>
</ion-content>
