.change-password-page {
  &__toolbar {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--whiteColor);
  }

  &__back {
    font-size: 28px;
  }

  &__title {
    margin-left: 10px;
  }

  &__form {
    padding-bottom: 20px;
  }

  &__field {
    margin-top: 25px;
  }

  &__divider {
    background-color: var(--extraLightGrayColor);
    height: 1.2px;
    margin-top: 8px;
  }

  &__text-input {
    height: 25px;
    min-height: 25px;
    margin-top: 4px;
    --placeholder-color: var(--grayColor);
    --placeholder-opacity: 1;
  }

  &__text-input--password {
    flex: 1;
  }

  &__toggle-icon {
    font-size: 20px;
  }

  &__server-error {
    display: block;
    margin: 0 20px;
    margin-top: 15px;
  }

  &__submit {
    background-color: var(--primaryColor);
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 40px;
    width: calc(100% - 40px);
    cursor: pointer;
    user-select: none;
  }

  &__submit:active {
    opacity: 0.9;
  }

  &__submit[aria-disabled='true'] {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &__submit ion-text {
    background-color: var(--primaryColor);
    display: block;
  }
}
