<app-back-header
  title="Change password"
  (backClick)="goBack()"
></app-back-header>

<ion-content>
  <form
    class="change-password-page__form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="margin20">
      <ion-text class="grayColor16Regular"> Current password </ion-text>
      <div class="rowAlignCenter">
        <ion-input
          formControlName="currentPassword"
          name="currentPassword"
          mode="ios"
          placeholder="Enter current password"
          class="blackColor18Regular change-password-page__text-input change-password-page__text-input--password"
          inputmode="password"
          autocomplete="current-password"
          [type]="showCurrentPassword() ? 'text' : 'password'"
        ></ion-input>
        <ion-icon
          (click)="showCurrentPassword.set(!showCurrentPassword())"
          [name]="!showCurrentPassword() ? 'eye-off-outline' : 'eye-outline'"
          color="blackColor"
          class="change-password-page__toggle-icon"
          [attr.aria-label]="
            showCurrentPassword() ? 'Hide current password' : 'Show current password'
          "
          role="button"
          tabindex="0"
        ></ion-icon>
      </div>
      <div class="change-password-page__divider"></div>
      @if (isInvalid('currentPassword')) {
      <ion-text class="redColor14SemiBold">
        Current password is required.
      </ion-text>
      }
    </div>

    <div class="margin20 change-password-page__field">
      <ion-text class="grayColor16Regular"> New password </ion-text>
      <div class="rowAlignCenter">
        <ion-input
          formControlName="newPassword"
          name="newPassword"
          mode="ios"
          placeholder="Enter new password"
          class="blackColor18Regular change-password-page__text-input change-password-page__text-input--password"
          inputmode="password"
          autocomplete="new-password"
          [type]="showNewPassword() ? 'text' : 'password'"
        ></ion-input>
        <ion-icon
          (click)="showNewPassword.set(!showNewPassword())"
          [name]="!showNewPassword() ? 'eye-off-outline' : 'eye-outline'"
          color="blackColor"
          class="change-password-page__toggle-icon"
          [attr.aria-label]="showNewPassword() ? 'Hide new password' : 'Show new password'"
          role="button"
          tabindex="0"
        ></ion-icon>
      </div>
      <div class="change-password-page__divider"></div>
      @if (isInvalid('newPassword')) {
      <ion-text class="redColor14SemiBold">
        @if (form.controls.newPassword.errors?.['required']) { New password is
        required. } @else if (form.controls.newPassword.errors?.['minlength']) {
        Password must be at least 8 characters. } @else if
        (form.controls.newPassword.errors?.['weakPassword']) { Password must
        include at least one number and one special character. } @else { Invalid
        password. }
      </ion-text>
      }
    </div>

    <div class="margin20 change-password-page__field">
      <ion-text class="grayColor16Regular"> Confirm new password </ion-text>
      <div class="rowAlignCenter">
        <ion-input
          formControlName="confirmPassword"
          name="confirmPassword"
          mode="ios"
          placeholder="Confirm new password"
          class="blackColor18Regular change-password-page__text-input change-password-page__text-input--password"
          inputmode="password"
          autocomplete="new-password"
          [type]="showConfirmPassword() ? 'text' : 'password'"
        ></ion-input>
        <ion-icon
          (click)="showConfirmPassword.set(!showConfirmPassword())"
          [name]="!showConfirmPassword() ? 'eye-off-outline' : 'eye-outline'"
          color="blackColor"
          class="change-password-page__toggle-icon"
          [attr.aria-label]="
            showConfirmPassword() ? 'Hide confirm password' : 'Show confirm password'
          "
          role="button"
          tabindex="0"
        ></ion-icon>
      </div>
      <div class="change-password-page__divider"></div>

      @if (isInvalid('confirmPassword')) {
      <ion-text class="redColor14SemiBold">
        Confirm password is required.
      </ion-text>
      } @if (form.errors?.['passwordsMismatch'] && (form.dirty || form.touched))
      {
      <ion-text class="redColor14SemiBold"> Passwords do not match. </ion-text>
      }
    </div>

    <div
      class="center change-password-page__submit"
      (click)="(form.invalid || isSubmitting()) ? null : onSubmit()"
      [attr.aria-disabled]="form.invalid || isSubmitting()"
    >
      <ion-text class="whiteColor22Bold">
        @if (isSubmitting()) { Saving... } @else { Save }
      </ion-text>
    </div>
  </form>
</ion-content>
