.primaryColor14SemiBold {
  color: var(--primaryColor);
  font-size: 14px;
  font-weight: 600;
}

.primaryColor16SemiBold {
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 600;
}

.primaryColor18SemiBold {
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 600;
}

.primaryColor14Bold {
  color: var(--primaryColor);
  font-size: 14px;
  font-weight: 700;
}

.primaryColor16Bold {
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: 700;
}

.primaryColor18Bold {
  color: var(--primaryColor);
  font-size: 18px;
  font-weight: 700;
}

.primaryColor20Bold {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 700;
}

.primaryColor12ExtraBold {
  color: var(--primaryColor);
  font-size: 12px;
  font-weight: 800;
}

.primaryColor20ExtraBold {
  color: var(--primaryColor);
  font-size: 20px;
  font-weight: 800;
}

.secondaryColor12ExtraBold {
  color: var(--secondaryColor);
  font-size: 12px;
  font-weight: 800;
}

.whiteColor12Regular {
  color: var(--whiteColor);
  font-size: 12px;
}

.whiteColor14Regular {
  color: var(--whiteColor);
  font-size: 14px;
}

.whiteColor18Regular {
  color: var(--whiteColor);
  font-size: 18px;
}

.whiteColor14Medium {
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: 500;
}

.whiteColor10SemiBold {
  color: var(--whiteColor);
  font-size: 10px;
  font-weight: 600;
}

.whiteColor12SemiBold {
  color: var(--whiteColor);
  font-size: 12px;
  font-weight: 600;
}

.whiteColor14SemiBold {
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: 600;
}

.whiteColor16SemiBold {
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 600;
}

.whiteColor20SemiBold {
  color: var(--whiteColor);
  font-size: 20px;
  font-weight: 600;
}

.whiteColor14Bold {
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: 700;
}

.whiteColor16Bold {
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 700;
}

.whiteColor18Bold {
  color: var(--whiteColor);
  font-size: 18px;
  font-weight: 700;
}

.whiteColor20Bold {
  color: var(--whiteColor);
  font-size: 20px;
  font-weight: 700;
}

.whiteColor22Bold {
  color: var(--whiteColor);
  font-size: 22px;
  font-weight: 700;
}

.whiteColor20ExtraBold {
  color: var(--whiteColor);
  font-size: 20px;
  font-weight: 800;
}

.blackColor10Regular {
  color: var(--blackColor);
  font-size: 10px;
}

.blackColor12Regular {
  color: var(--blackColor);
  font-size: 12px;
}

.blackColor14Regular {
  color: var(--blackColor);
  font-size: 14px;
}

.blackColor18Regular {
  color: var(--blackColor);
  font-size: 18px;
}

.blackColor12SemiBold {
  color: var(--blackColor);
  font-size: 12px;
  font-weight: 600;
}

.blackColor14SemiBold {
  color: var(--blackColor);
  font-size: 14px;
  font-weight: 600;
}

.blackColor16SemiBold {
  color: var(--blackColor);
  font-size: 16px;
  font-weight: 600;
}

.blackColor18SemiBold {
  color: var(--blackColor);
  font-size: 18px;
  font-weight: 600;
}

.blackColor20SemiBold {
  color: var(--blackColor);
  font-size: 20px;
  font-weight: 600;
}

.blackColor14Bold {
  color: var(--blackColor);
  font-size: 14px;
  font-weight: 700;
}

.blackColor16Bold {
  color: var(--blackColor);
  font-size: 16px;
  font-weight: 700;
}

.grayColor12Regular {
  color: var(--grayColor);
  font-size: 12px;
}

.grayColor14Regular {
  color: var(--grayColor);
  font-size: 14px;
}

.grayColor16Regular {
  color: var(--grayColor);
  font-size: 16px;
}

.grayColor10SemiBold {
  color: var(--grayColor);
  font-size: 10px;
  font-weight: 600;
}

.grayColor14SemiBold {
  color: var(--grayColor);
  font-size: 14px;
  font-weight: 600;
}

.grayColor16SemiBold {
  color: var(--grayColor);
  font-size: 16px;
  font-weight: 600;
}

.lightGrayColor14Regular{
  color: var(--lightGrayColor);
  font-size: 14px;
}

.lightGrayColor16Regular{
  color: var(--lightGrayColor);
  font-size: 16px;
}

.lightGrayColor16SemiBold {
  color: var(--lightGrayColor);
  font-size: 16px;
  font-weight: 600;
}

.blueColor14Regular {
  color: var(--blueColor);
  font-size: 14px;
}

.blueColor14SemiBold {
  color: var(--blueColor);
  font-size: 14px;
  font-weight: 600;
}

.greenColor14SemiBold {
  color: var(--greenColor);
  font-size: 14px;
  font-weight: 600;
}

.redColor14SemiBold {
  color: var(--redColor);
  font-size: 14px;
  font-weight: 600;
}

.orangeColor14SemiBold {
  color: var(--orangeColor);
  font-size: 14px;
  font-weight: 600;
}
