.like-single-notification {
  &__row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    object-fit: cover;
  }

  &__content {
    flex: 1;
    min-width: 0;
    margin-left: 10px;
  }

  &__title {
    margin-bottom: 4px;
    display: block;
  }

  &__thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
  }

  &__time {
    margin-top: 4px;
    display: block;
  }
}
