<app-auth-header
  [title]="'Forgot Password'"
  [showBack]="true"
  (back)="goBack()"
></app-auth-header>

<ion-content color="secondaryColor">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="margin20">
      <ion-text class="grayColor16Regular"> Email Address </ion-text>
      <ion-input
        formControlName="email"
        name="email"
        placeholder="Enter Email Address"
        mode="ios"
        class="whiteColor18Regular auth-form__input"
        inputmode="email"
        autocomplete="email"
      ></ion-input>
      <div class="auth-form__divider"></div>

      @if (isInvalid('email')) {
      <ion-text class="redColor14SemiBold">
        Please enter a valid email
      </ion-text>
      }
    </div>

    <ion-text class="grayColor14Regular center auth-forgot__hint">
      If the email exists, we will send a code to your inbox.
    </ion-text>

    <app-auth-primary-button
      [label]="'Send code'"
      [disabled]="form.invalid || isSubmitting()"
      (clicked)="onSubmit()"
    ></app-auth-primary-button>
  </form>
</ion-content>
