.auth-form__divider {
  background-color: var(--extraLightGrayColor);
  height: 1px;
  margin-top: 8px;
}

.auth-form__input {
  height: 25px;
  min-height: 25px;
  margin-top: 4px;
  --placeholder-color: var(--whiteColor);
  --placeholder-opacity: 1;
}

.auth-form__input--password {
  flex: 1;
}

.auth-form__field {
  margin-top: 25px;
}

.auth-form__toggle-icon {
  font-size: 20px;
}

.auth-form__forgot-link {
  margin: 0 20px;
  margin-top: -15px;
}
