@if (userProfile(); as profile) {
<app-top-bar [title]="profile.username">
  <ion-buttons slot="end" class="profile-page__menu-buttons">
    <ion-menu-button
      mode="ios"
      color="blackColor"
      class="profile-page__menu-icon"
    ></ion-menu-button>
  </ion-buttons>
</app-top-bar>

<ion-content>
  <app-profile-header
    [name]="profile.name"
    category=""
    [description]="profile.description"
    socialHandle=""
    website=""
    [profileImage]="profile.profileImage"
    [postsCount]="profile.postsCount"
    [videosCount]="profile.videosCount"
    [followersCount]="profile.followersCount"
    [followingCount]="profile.followingCount"
    [storyAvailable]="isStoryAvailable()"
    (onFollowersClick)="goTo('followers')"
    (onFollowingClick)="goTo('followings')"
    (onStoryClick)="goTo('open-story')"
  ></app-profile-header>

  <button
    type="button"
    class="profile-page__edit-button"
    (click)="goTo('edit-profile')"
  >
    Edit Profile
  </button>

  <app-profile-tabs
    [selectedTab]="selectedTab()"
    (tabChange)="onTabChange($event)"
  ></app-profile-tabs>

  <app-profile-post-grid
    [posts]="filteredPosts()"
    (postClick)="goTo('user-posts')"
  ></app-profile-post-grid>
</ion-content>
} @else {
<app-top-bar title="Profile"></app-top-bar>
<ion-content class="ion-padding">
  <div class="profile-page__loading">
    <ion-spinner></ion-spinner>
    <p>Loading profile...</p>
  </div>
</ion-content>
}
