<div class="profile-tabs">
  <ion-segment
    [value]="selectedTab()"
    (ionChange)="onTabChange($event)"
    mode="md"
  >
    <ion-segment-button value="All">
      <span class="material-icons profile-tabs__icon--large"> apps </span>
    </ion-segment-button>
    <ion-segment-button value="Videos">
      <span class="material-icons profile-tabs__icon--medium">airplay</span>
    </ion-segment-button>
    <ion-segment-button value="Tags">
      <span class="material-icons-outlined profile-tabs__icon--large">
        person_pin
      </span>
    </ion-segment-button>
  </ion-segment>
</div>
