<app-back-header title="Security" (backClick)="goBack()"></app-back-header>

<ion-content>
  <ion-list inset="true" mode="ios" class="security-page__list">
    <ion-item
      button="true"
      detail="false"
      class="security-page__item"
      (click)="goTo('/change-password')"
    >
      <ion-icon
        slot="start"
        name="key-outline"
        class="security-page__item-icon"
        aria-hidden="true"
      ></ion-icon>
      <ion-label>
        <div class="security-page__item-title">Change password</div>
        <div class="security-page__item-subtitle">
          Update your current password
        </div>
      </ion-label>
      <ion-icon
        slot="end"
        name="chevron-forward-outline"
        aria-hidden="true"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
