<app-top-bar>
  <ng-template #leftContent>
    <div class="home__logo-wrapper">
      <ion-img
        src="assets/images/logo-black.svg"
        class="home__logo-image"
      ></ion-img>
      <!-- <ion-text class="primaryColor12ExtraBold"> Help </ion-text> -->
    </div>
  </ng-template>

  <ion-icon
    (click)="goTo('search')"
    name="search"
    color="blackColor"
    class="home__search-icon"
  ></ion-icon>
</app-top-bar>

<ion-content class="home__content">
  <app-story-list
    [stories]="usersStories()"
    (shareStory)="goTo('create-story')"
    (storyClick)="goTo('open-story')"
  ></app-story-list>

  @for (item of todaysPostsList(); track item.id) {
  <div class="home__post-wrapper">
    <app-post-card
      [post]="item"
      (userClick)="goToUserProfile($event)"
      (likeClick)="handlePostLike('today', item.id)"
      (commentClick)="goTo('comments')"
    ></app-post-card>
  </div>
  }

  <app-suggestion-list
    [suggestions]="suggestionsList()"
    (toggleFollow)="handleFollowToggle($event)"
    (seeAllClick)="goTo('search-detail')"
    (userClick)="goToUserProfile($event)"
  ></app-suggestion-list>

  @for (item of oldPostsList(); track item.id) {
  <div class="home__post-wrapper">
    <app-post-card
      [post]="item"
      (userClick)="goToUserProfile($event)"
      (likeClick)="handlePostLike('old', item.id)"
      (commentClick)="goTo('comments')"
    ></app-post-card>
  </div>
  }
</ion-content>
