<div class="rowAlignCenter margin20 auth-social-buttons">
  <div class="center auth-social-buttons__item">
    <ion-img
      src="assets/images/icons/facebook.png"
      class="auth-social-buttons__icon"
    ></ion-img>
  </div>

  <div class="center auth-social-buttons__item auth-social-buttons__item--middle">
    <ion-img
      src="assets/images/icons/google.png"
      class="auth-social-buttons__icon"
    ></ion-img>
  </div>

  <div class="center auth-social-buttons__item">
    <ion-img
      src="assets/images/icons/twitter.png"
      class="auth-social-buttons__icon"
    ></ion-img>
  </div>
</div>

