<ion-content color="secondaryColor">
  <div class="contentCenter">
    <div class="swiper-wrapper">
      <swiper-container
        #swiper
        (swiperslidechange)="slideChangeCall();"
        [autoplay]="{autoplay:true,disableOnInteraction:false,delay:2800}"
      >
        <swiper-slide *ngFor="let item of onboardingScreenList">
          <app-onboarding-slide
            [imageSrc]="item.onboardingImage"
            [title]="item.onboardingTitle"
            [description]="item.onboardingDescription"
            [screenHeight]="screenHeight"
          ></app-onboarding-slide>
        </swiper-slide>
      </swiper-container>
    </div>

    <app-onboarding-indicators
      class="onboarding-indicators-wrapper"
      [total]="onboardingScreenList.length"
      [currentIndex]="currentIndex"
    ></app-onboarding-indicators>

    <div
      class="rowAlignCenter margin20 onboarding-actions"
      [class.onboarding-actions--ios]="platform.is('ios')"
    >
      <ion-text (click)="goTo('/auth/sign-in')" class="whiteColor16Bold">
        {{isLastScreen() ? ' ' : 'Skip'}}
      </ion-text>
      <ion-text (click)="handleButtonPress()" class="primaryColor16Bold">
        {{isLastScreen() ? 'Login' : 'Next'}}
      </ion-text>
    </div>
  </div>
</ion-content>
