<ion-header mode="ios" [translucent]="false">
  <ion-toolbar
    class="ion-no-padding"
    color="whiteColor"
    style="box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15)"
  >
    <div class="home-header">
      <div class="home-header__logo">
        <ion-img
          src="../../../../assets/images/homeAppLogo.png"
          style="width: 30px; height: 30px; object-fit: contain"
        >
        </ion-img>
        <ion-text class="primaryColor12ExtraBold" style="margin-top: 3px">
          Social <ion-text class="secondaryColor12ExtraBold">Media</ion-text>
        </ion-text>
      </div>
      <ion-icon
        (click)="searchClick.emit()"
        name="search"
        color="blackColor"
        style="font-size: 18px"
        class="home-header__search-icon"
      >
      </ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
