<app-auth-header
  [title]="'Verify Code'"
  [showBack]="true"
  (back)="goBack()"
></app-auth-header>

<ion-content color="secondaryColor">
  <div class="center margin20 column auth-verify__content">
    <ion-text class="whiteColor18Regular"> Verify Code </ion-text>
    <ion-text class="grayColor14Regular auth-verify__description">
      Enter the code we sent to<br />{{ email() }}
    </ion-text>

    <ion-text class="whiteColor16SemiBold"> Enter Code Here </ion-text>
    <ng-otp-input (onInputChange)="onChange($event)" [config]="config">
    </ng-otp-input>

    <ion-text class="grayColor16Regular"> Didn’t you receive any code? </ion-text>
    <ion-text
      (click)="onResend()"
      class="primaryColor18SemiBold auth-verify__resend"
    >
      Resend
    </ion-text>

    @if (errorMessage()) {
      <ion-text class="lightGrayColor14Regular auth-verify__error">
        {{ errorMessage() }}
      </ion-text>
    }
  </div>

  <app-auth-primary-button
    [label]="'Continue'"
    [disabled]="showLoadingDialog()"
    (clicked)="onContinue()"
  ></app-auth-primary-button>

  <ion-popover
    mode="md"
    [isOpen]="showLoadingDialog()"
    (didDismiss)="showLoadingDialog.set(false)"
  >
    <ng-template>
      <div class="auth-verify__dialog">
        <ion-spinner
          name="lines-sharp"
          color="primaryColor"
          class="auth-verify__spinner"
        ></ion-spinner>
        <ion-text class="grayColor16SemiBold auth-verify__loading-text">
          Please wait..
        </ion-text>
      </div>
    </ng-template>
  </ion-popover>
</ion-content>
