<app-auth-header [title]="'Sign In'" [showBack]="false"></app-auth-header>

<ion-content color="secondaryColor">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="margin20">
      <ion-text class="grayColor16Regular"> Email or Username </ion-text>
      <ion-input
        formControlName="emailOrUsername"
        name="emailOrUsername"
        placeholder="Enter Email or Username"
        mode="ios"
        class="whiteColor18Regular auth-form__input"
        inputmode="email"
        autocomplete="off"
      ></ion-input>
      <div class="auth-form__divider"></div>
      @if (isInvalid('emailOrUsername')) {
      <ion-text class="redColor14SemiBold">
        Please enter your email or username
      </ion-text>
      }
    </div>

    <div class="margin20 auth-form__field">
      <ion-text class="grayColor16Regular"> Password </ion-text>
      <div class="rowAlignCenter">
        <ion-input
          formControlName="password"
          name="password"
          placeholder="Enter Password"
          mode="ios"
          class="whiteColor18Regular auth-form__input auth-form__input--password"
          clearOnEdit="false"
          inputmode="password"
          autocomplete="off"
          [type]="showPassword()?'text':'password'"
        ></ion-input>
        <ion-icon
          (click)="showPassword.set(!showPassword())"
          [name]="!showPassword()?'eye-off-outline': 'eye-outline'"
          color="whiteColor"
          class="auth-form__toggle-icon"
        ></ion-icon>
      </div>

      <div class="auth-form__divider"></div>
      @if (isInvalid('password')) {
      <ion-text class="redColor14SemiBold">
        Please enter your password (min 8 characters)
      </ion-text>
      }
    </div>

    @if (serverError()) {
    <ion-text class="redColor14SemiBold center auth-form__error">
      {{ serverError() }}
    </ion-text>
    }

    <div class="ion-text-right auth-form__forgot-link" [style.margin-top]="serverError() ? '15px' : '-15px'">
      <ion-text
        class="lightGrayColor14Regular"
        (click)="goTo('/auth/forgot-password')"
      >
        Forget password?
      </ion-text>
    </div>

    <app-auth-primary-button
      [label]="'Sign In'"
      [disabled]="form.invalid || isSubmitting()"
      (clicked)="onSubmit()"
    ></app-auth-primary-button>
  </form>

  <ion-text class="grayColor16Regular center"> OR </ion-text>

  <app-auth-social-buttons></app-auth-social-buttons>

  <div class="ion-text-center margin20">
    <ion-text class="lightGrayColor16Regular">
      Don’t have an account?
      <ion-text (click)="goTo('/auth/sign-up')" class="primaryColor16Bold"
        >Sign Up</ion-text
      >
    </ion-text>
  </div>
</ion-content>
