<app-auth-header [title]="'Sign In'" [showBack]="false"></app-auth-header>

<ion-content color="secondaryColor">
  <div class="margin20">
    <ion-text class="grayColor16Regular"> Email Address </ion-text>
    <ion-input
      [(ngModel)]="email"
      name="email"
      placeholder="Enter Email Address"
      mode="ios"
      class="whiteColor18Regular auth-form__input"
      inputmode="email"
    ></ion-input>
    <div class="auth-form__divider"></div>
  </div>

  <div class="margin20 auth-form__field">
    <ion-text class="grayColor16Regular"> Password </ion-text>
    <div class="rowAlignCenter">
      <ion-input
        [(ngModel)]="password"
        name="password"
        placeholder="Enter Password"
        mode="ios"
        class="whiteColor18Regular auth-form__input auth-form__input--password"
        clearOnEdit="false"
        inputmode="password"
        [type]="showPassword?'text':'password'"
      ></ion-input>
      <ion-icon
        (click)="showPassword=!showPassword"
        [name]="!showPassword?'eye-off-outline': 'eye-outline'"
        color="whiteColor"
        class="auth-form__toggle-icon"
      ></ion-icon>
    </div>

    <div class="auth-form__divider"></div>
  </div>

  <div class="ion-text-right auth-form__forgot-link">
    <ion-text class="lightGrayColor14Regular"> Forget password? </ion-text>
  </div>

  <app-auth-primary-button
    [label]="'Sign In'"
    (clicked)="goTo('/auth/sign-up')"
  ></app-auth-primary-button>

  <ion-text class="grayColor16Regular center"> OR </ion-text>

  <app-auth-social-buttons></app-auth-social-buttons>

  <div class="ion-text-center margin20">
    <ion-text class="lightGrayColor16Regular">
      Don’t have an account?
      <ion-text (click)="goTo('/auth/sign-up')" class="primaryColor16Bold"
        >Sign Up</ion-text
      >
    </ion-text>
  </div>
</ion-content>
