.suggestion-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px 20px;
  }

  &__title {
    flex: 1;
  }

  &__see-all {
    cursor: pointer;
  }
}

.suggestion-scroll {
  overflow-x: auto;
  padding: 0 15px;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
  }
}

.suggestion-card {
  width: 140px;
  flex-shrink: 0;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: var(--whiteColor);
  margin-top: 2px;

  &__avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    margin-top: 10px;
    text-align: center;
  }

  &__username {
    margin-top: 1px;
    text-align: center;
  }

  &__button {
    display: block;
    margin-top: 14px;
    width: 100%;
  }
}
