<div class="suggestion-container">
  <div class="suggestion-container__header">
    <ion-text class="blackColor18SemiBold suggestion-container__title">
      Suggestion for you
    </ion-text>
    <ion-text
      class="primaryColor14SemiBold suggestion-container__see-all"
      (click)="seeAllClick.emit()"
    >
      See All
    </ion-text>
  </div>
  <div class="suggestion-scroll">
    <div class="suggestion-scroll__wrapper">
      @for (item of suggestions(); track item.id) {
      <div class="suggestion-card" (click)="userClick.emit(item.username)">
        <div class="suggestion-card__avatar-wrapper">
          <app-social-user-avatar
            [avatarUrl]="item.avatarUrl"
            [displayName]="item.displayName"
            size="lg"
          />
        </div>
        <ion-text
          class="blackColor16SemiBold ellipseText suggestion-card__name"
        >
          {{ item.displayName }}
        </ion-text>
        <ion-text
          class="grayColor14Regular ellipseText suggestion-card__username"
        >
          {{ item.username }}
        </ion-text>
        <app-follow-button
          class="suggestion-card__button"
          variant="card"
          [isFollowing]="item.isFollow"
          (followClick)="toggleFollow.emit(item)"
        />
      </div>
      }
    </div>
  </div>
</div>
