.user-profile {
  &__actions {
    display: flex;
    gap: 10px;
    margin: 0 20px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 8px 5px;
    border-radius: 10px;
    border: 1.5px solid var(--primaryColor);
    cursor: pointer;
    background-color: var(--whiteColor);
  }

  &__btn-text {
    text-align: center;
  }
}
